.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 50%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

//COLORES CORTOS
.cp
  color: $color-primario !important

.cs
  color: $color-secundario !important

.cac
  color: $color-acento-contenido !important

.cab
  color: $color-acento-botones !important

.ca1
  color: $color-adicional-1 !important

.ca2
  color: $color-adicional-2 !important

.ct
  color: $color-tipografia !important

.cet
  color: $color-etiqueta-texto !important

.pc1
  background-color: rgb(210, 225, 241)

.tarjeta--rosa
  background-color: rgb(251, 225, 225) !important

.tarjeta--rosa2
  background-color: rgb(251, 224, 224) !important

.tarjeta--lila
  background-color: rgb(237, 229, 249) !important

.tarjeta--curuba
  background-color: rgb(251, 237, 223) !important

.tarjeta--acordeon
  background-color: rgb(246, 219, 191)

.cuadro-texto
  background-color: rgb(252, 240, 229) !important

.acordion__accion__btn--a
    background-color: #5000C7
    i
      color: $white

.borde-redondo
  border-radius: 15px

.rectangulosi
  position: relative
  &::before
    content: ''
    width: 50%
    height: 33%
    background-color: rgb(226, 135, 44)
    bottom: 100
    right: 100
    display: block
    position: absolute
    mix-blend-mode: multiply